.header
    position: relative
    height: 800px
    background: url(../img/main_bg.jpg) center right/cover no-repeat
    &__title
        padding: 80px 0 0
    &__subtitle
        padding: 25px 0 0
        width: 650px
        margin: 0 auto
        text-transform: uppercase
        font-weight: bold

    &__img
        position: absolute
        bottom: 50px
        max-width: 500px
        img
            width: 100%

    &__btn
        display: block
        margin: 155px auto 0
